// text-font-size
.text-s-md{
    font-size: $font;
    font-weight: 500;
}

.text-s-sm {
    font-size: $font-sm;
    font-weight: 500;
}

// widths-style



// icon
.circle-icon{
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    padding: 6px;
    background-color: white;
    border-radius:120px ;
 
}

// btn 
.btn {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 24px;
  border: 0;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  gap: 16px;
  text-wrap: nowrap;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}
.btn-green {
  background-color: #59C9A5;
}

.tx-red {
  color: #FD4D4D;
}
.tx-green {
  color: #37AC6C;
}
.js-center {
  justify-content: center;
}
// gap style 


.p-20 {
  padding-top:150px ;
}
.p-num {
  padding-top:100px ;
}
.mt-5 {
  margin-top: 14px;
}
.mt-70 {
  margin-top: 72px;
}
.g-1 {
    gap: 1px;
}

.g-2 {
    gap: 3px;
}

.btn-blue {
    background-color: $blue;
}
.btn-red {
  background-color: #D25487;
}

.bg-blue {
    background: $blue;
}

.slide-title {
    margin-bottom: 30px;
    margin-right: 20px;
    h1 {
      color: $white;
      font-weight: 600;
    }
  }

  .f-2 {
    font-size: 14px;
    font-weight: 400;
  }
  .tx-normal{
    font-size: $font;
  }
 .tx-sm{
    font-size: $font-sm;
 }

 .tx-md{
    font-size: $font-md;
 }

 .tx-lg {
    font-size: $font-lg;
 }

 .tx-xlg{
    font-size:$font-xlg;
 }

 .tx-bg-white{
    color: $white;
 }
 .nav-link {
  text-decoration: none;
  color: $black ;
 }


//  _-------------------------- grid --------------


.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}



.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.mt-2 {
  margin-top: 14px;
}
.tx-white {
  color: #fff;
}
.tx-black {
  color: #000 !important;
}

.tx-gray {
  color: #ccc;
}

.tx-16 {
  font-size: 16px !important;
  font-weight: 500;
}

.tx-black__10 {
  color: rgba(0, 0, 0, 0.60);
}


//  ========================== bg ================== //
.bg-red {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 19.51%, rgba(255, 255, 255, 0.12) 81.71%), #D25487;
}


// ======================== border ======================== //
.border  {
  border: 1.5px solid #E2E2E8;
}

.border-roted {
  border: 1px dashed #ccc;
}

.border-none {
  border: none !important;
}

.align-center {
  align-items: center;
}