.filter {
    margin-top: 20px;
}

.filter__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.active-btn {
    border: 1px solid #000 !important;
    color:#525FE1;
    font-weight:700 ;
    font-size: 16px;
}