
.footer {
    background: url("/assets/images/backgroundfooter.png") no-repeat center;
    padding: 213px 0;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .footer__card {
        padding: 40px;
        background-color: $white;
        border-radius: 10px;
        display: flex;
        gap: 70px;
        align-items: center;
    }
}
.footer__card__left {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 350px;
}
.footer__card__left__desc {
    
    .footer__crad__left__dcsc__text {
        
        font-size: 20px;
        font-weight: 900;
        
    }
}

.footer__card__right {
    
    display: flex;
    justify-content:space-between;
    .footer__card__link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        .footer__link {
            color: $secondary;
            font-size: 20px;
            font-weight: 900;
            text-wrap: nowrap;
            
        }
    }
   
}