.footer {
    background-color: #111538;
    padding: 54px 160px ;

    .footer__content {
        display: flex;
        justify-content:space-between;
        // flex-direction: column;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
        .footer__content__logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            h1 {
                font-size: 45px;
                color: white;
                font-weight: 700;
            }
            p {
                font-size: 16px;
                color: white;
                font-weight: 600;
                text-align: center;
                width: 318px;
                // height: 100px;
            }
        }

        .footer__content__link {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex-wrap: wrap;
            .link-header {
                text-decoration: none;
                font-size: 20px;
                font-weight: 700;
                color: white;
                text-wrap: nowrap;

            }
            .link-footer {
                font-size: 16px;
                text-wrap: nowrap;
                font-weight:400 ;
                color: hsla(0, 0%, 100%, 1);
            }
        }
    }
}

// ===================== responsive =============== //
@media only screen and (max-width:500px) {
    footer{
        flex-wrap: wrap;
        .footer__content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}