.form-group  {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.input-group {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px 14px;
    border-radius:10px ;
    display: flex;
    justify-content: space-between;
    width: 415px;
    input {
        padding: 8px 14px;
        border: 0;
        outline: 0;
    }

    .label-group {
        position: absolute;
        top: -12px;
        left: 15px;
        background-color: white;
        padding:0 10px;
    }
}

