.header {
    padding-top:30px;
    display: flex;
    align-items: center;
}

// header__left
.header__left {
    display: flex;
    align-items: center;
    padding-top: 0;
}

// navbar 

.header__nav {
    display: flex;
    justify-content: center;
    padding-left:48px ;
    .nav {
        display: flex;
        justify-content: center;
        .nav-link {
            padding-right: 28px;
            color: $black;
            font-size: $font;
            font-weight: 700;
        }
    }
}


// header__right 
.header__right {
    display: flex;
    align-items: center;
    gap: 12px;
    // flaG
    .flag {
        display: flex;
        align-items: center;
        gap: 8px;
        .flag-nav {
            font-size: $font;
            font-weight:600;
            &::after {
                content: "";
                padding: 1px;
                width: 0;
                height: 40px;
                background-color: $black;
                margin-left:8px ;
            }
        }

    }
    // .header__right__icon
    .header__right__icon {
        display: flex;
        gap: 12px;
        .icon-img {
            height: 28px;
            width: 28px;
        }
    }
}
