.student__say {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .student__say__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 45px;
      font-weight: 700;
    }
    p {
      width: 1000px;
      text-align: center;
      margin-top: 20px;
    }
  }
}

.student__say__content {
  margin-top: 20px;
  display: flex;
  z-index: -1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //position: relative;
  background: url("/assets/images/back.png") no-repeat ;
  background-size:100%;
  border-radius: 10px;
  max-width: max-content;
  padding: 14px 30px;
  height: 236px;
  p {
    text-align: center;
    margin-left: auto;
    color: white;
    font-size: 18px;
    line-height: 32px;
  }

}

.user__box  {
  z-index: 2;
  position: relative;
  top:-57px;
  left: 10px;
  //left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //background-color: red;
}