// banner section
.banner {
  position: relative;
  margin-top: 220px;
  padding: 220px 0;
  padding-bottom: 242px;
  background: url("/assets/images/background-banner.png") no-repeat center;
  // banner content
  .banner__content {
    position: absolute;
    top: -95px;
    left: 174px;
  }
}

.banner__content__title__text {
  font-size: 79px;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 22px;
}

.banner__content__title-span {
  font-size: 74px;
  font-weight: 900;
  line-height: 65px;
}

.banner__content__desc {
  margin-top: 38px;
  font-size: 22px;
  font-weight: 700;
}

.banner__content__button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 42px;
}

.banner__content__rartines {
  margin-top: 42px;
  display: flex;
  gap: 12px;
  .banner__content__rartines__text {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
  }

  .banner__content__rartines__logos {
    display: flex;
    gap: 14px;
  }
}
//  ========================= reasponsive disign =============== //

@media only screen and (max-width: 1380px) {
  .banner {
    .banner__content {
      position: absolute;
      top: -95px;
      left: 125px;
    }
  }
}

@media only screen and (max-width: 1200px) {
}
