@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,800&family=Inter&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
.container {
  width: 100%;
  max-width: 1320px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  transition: 0.2s ease !important;
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  overflow-x: hidden;
}

.text-s-md {
  font-size: 16px;
  font-weight: 500;
}

.text-s-sm {
  font-size: 12px;
  font-weight: 500;
}

.circle-icon {
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  padding: 6px;
  background-color: white;
  border-radius: 120px;
}

.btn {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 20px 24px;
  border: 0;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  gap: 16px;
  text-wrap: nowrap;
}

.btn-dark {
  background-color: #000;
  color: #fff;
}

.btn-green {
  background-color: #59C9A5;
}

.tx-red {
  color: #FD4D4D;
}

.tx-green {
  color: #37AC6C;
}

.js-center {
  justify-content: center;
}

.p-20 {
  padding-top: 150px;
}

.p-num {
  padding-top: 100px;
}

.mt-5 {
  margin-top: 14px;
}

.mt-70 {
  margin-top: 72px;
}

.g-1 {
  gap: 1px;
}

.g-2 {
  gap: 3px;
}

.btn-blue {
  background-color: #0079FF;
}

.btn-red {
  background-color: #D25487;
}

.bg-blue {
  background: #0079FF;
}

.slide-title {
  margin-bottom: 30px;
  margin-right: 20px;
}
.slide-title h1 {
  color: #fff;
  font-weight: 600;
}

.f-2 {
  font-size: 14px;
  font-weight: 400;
}

.tx-normal {
  font-size: 16px;
}

.tx-sm {
  font-size: 12px;
}

.tx-md {
  font-size: 18px;
}

.tx-lg {
  font-size: 24px;
}

.tx-xlg {
  font-size: 26px;
}

.tx-bg-white {
  color: #fff !important;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    padding: 0 15px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    padding: 0 15px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 980px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    justify-content: center;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.mt-2 {
  margin-top: 14px;
}

.tx-white {
  color: #fff;
}

.tx-blue {
  color: #4183E6;
}

.tx-black {
  color: #000 !important;
}

.tx-gray {
  color: #ccc;
}

.tx-16 {
  font-size: 16px !important;
  font-weight: 500;
}

.tx-black__10 {
  color: rgba(0, 0, 0, 0.6);
}

.bg-red {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 19.51%, rgba(255, 255, 255, 0.12) 81.71%), #D25487;
}

.border {
  border: 1.5px solid #E2E2E8;
}

.border-roted {
  border: 1px dashed #ccc;
}

.d-none {
  display: none !important;
}

.border-none {
  border: none !important;
}

.align-center {
  align-items: center;
}

.bg-blue {
  background: rgba(63, 127, 224, 0.2);
}

.bg-green {
  background: rgba(115, 209, 138, 0.2);
}

.bg-purple {
  background: rgba(162, 96, 242, 0.2);
}

.owl-carousel .owl-nav button {
  width: 25px;
  height: 25px;
  background-color: #efefef !important;
  position: absolute;
  top: calc(50% - 12.5px);
  text-align: center;
  border-radius: 100%;
}
.owl-carousel .owl-nav button img {
  width: 6px;
  line-height: 25px;
  margin: auto;
}
.owl-carousel .owl-nav button:hover {
  background-color: #d9d9d9 !important;
}
.owl-carousel .owl-nav button.owl-prev {
  right: -12px;
}
.owl-carousel .owl-nav button.owl-next {
  left: -12px;
}

.row-12 {
  display: flex;
  align-items: center;
}

.js-center {
  justify-content: space-between;
}

.mt-20 {
  margin-top: 20px;
}

.header {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  padding-top: 0;
}

.header__nav {
  display: flex;
  justify-content: center;
  padding-left: 48px;
}
.header__nav .nav {
  display: flex;
  justify-content: center;
}
.header__nav .nav .nav-link {
  padding-right: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__right .flag {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header__right .flag .flag-nav {
  font-size: 16px;
  font-weight: 600;
}
.header__right .flag .flag-nav::after {
  content: "";
  padding: 1px;
  width: 0;
  height: 40px;
  background-color: #000;
  margin-left: 8px;
}
.header__right .header__right__icon {
  display: flex;
  gap: 12px;
}
.header__right .header__right__icon .icon-img {
  height: 28px;
  width: 28px;
}

.responsive__menue {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .header {
    white-space: nowrap;
  }
  .header .header__nav {
    padding-right: 20px;
  }
  .header .header__right__icon {
    display: none;
  }
  .header .flag .flag-nav::after {
    display: none;
  }
}
@media only screen and (max-width: 968px) {
  .header__right {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .responsive__menue {
    display: flex !important;
  }
}
@media only screen and (max-width: 768px) {
  .header__right {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .header__nav {
    display: none;
  }
  .header__right {
    display: none;
  }
}
.slides {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer {
  background: url("/assets/images/backgroundfooter.png") no-repeat center;
  padding: 213px 0;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.footer .footer__card {
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  gap: 70px;
  align-items: center;
}

.footer__card__left {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 350px;
}

.footer__card__left__desc .footer__crad__left__dcsc__text {
  font-size: 20px;
  font-weight: 900;
}

.footer__card__right {
  display: flex;
  justify-content: space-between;
}
.footer__card__right .footer__card__link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.footer__card__right .footer__card__link .footer__link {
  color: #8A8A8A;
  font-size: 20px;
  font-weight: 900;
  text-wrap: nowrap;
}

.about .about__title {
  text-align: right;
}
.about .about__title h1 {
  font-size: 34px;
  font-weight: 700;
}
.about .about__title span {
  font-size: 22px;
  font-weight: 700;
}
.about .about__body {
  padding: 74px 0;
}
.about .about__body .about__body__text {
  font-size: 24px;
  color: #8A8A8A;
  font-weight: 700;
  line-height: 32px;
}

.about__body__home {
  margin-top: 70px;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: center;
  gap: 77px;
}
.about__body__home .about__body__home__text {
  font-size: 24px;
  color: #8A8A8A;
  line-height: 32px;
  font-weight: 900;
}

.team .team__title .team__title__text {
  font-size: 34px;
  font-weight: 900;
  color: #000;
}

.team__body {
  padding: 74px 0;
  display: flex;
}

.team__card {
  display: flex;
  align-items: center;
  margin-top: 32px;
  padding: 14px 42px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 0px rgba(0, 0, 0, 0.1);
}
.team__card .team__card__img {
  width: 138px;
  height: 134px;
}
.team__card .team__card__body__title {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  white-space: nowrap;
}
.team__card .team__crad__body__desc {
  padding-top: 16px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
.team__card .team__card__body__icon {
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.team__card .team__card__body__icon .team__card__body__icon__img {
  height: 28px;
  width: 28px;
}

.banner {
  position: relative;
  margin-top: 220px;
  padding: 220px 0;
  padding-bottom: 242px;
  background: url("/assets/images/background-banner.png") no-repeat center;
}
.banner .banner__content {
  position: absolute;
  top: -95px;
  left: 174px;
}

.banner__content__title__text {
  font-size: 79px;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 22px;
}

.banner__content__title-span {
  font-size: 74px;
  font-weight: 900;
  line-height: 65px;
}

.banner__content__desc {
  margin-top: 38px;
  font-size: 22px;
  font-weight: 700;
}

.banner__content__button {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 42px;
}

.banner__content__rartines {
  margin-top: 42px;
  display: flex;
  gap: 12px;
}
.banner__content__rartines .banner__content__rartines__text {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}
.banner__content__rartines .banner__content__rartines__logos {
  display: flex;
  gap: 14px;
}

@media only screen and (max-width: 1380px) {
  .banner .banner__content {
    position: absolute;
    top: -95px;
    left: 125px;
  }
}
.card__prices {
  display: flex;
  padding-top: 62px;
  margin-left: 20px;
  gap: 18px;
}
.card__prices .crad__price {
  display: flex;
  align-items: flex-start;
  gap: 22px;
  justify-content: center;
  padding: 16px;
  background-color: #fafafa;
  border-radius: 10px;
}

.card__price__content .card__price__title {
  font-size: 22px;
  font-weight: 900;
}
.card__price__content .card__price__desc {
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 38px;
}
.card__price__content .card__price__desc .crad__price__desc__namad {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 900;
  gap: 10px;
}

.plans__section {
  padding-top: 100px;
}
.plans__section span {
  font-size: 24px;
  font-weight: 500;
}
.plans__section .plans__title__text {
  font-size: 32px;
  font-weight: 900;
}

.plans__crads {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
}
.plans__crads .plans__crads__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plans__card {
  padding: 42px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 5px 20px 20px 0px rgba(0, 0, 0, 0.1);
}
.plans__card .plans__card__title {
  padding-top: 35px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.plans__card .plans__card__title .plans__card__title__text {
  font-size: 35px;
  font-weight: 900;
  padding-bottom: 16px;
}

.plans__card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plans__crad__body__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.plans__crad__body__top p {
  font-size: 16px;
  font-weight: 600;
}

.plans__card__rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 1280px) {
  .plans__card {
    padding: 30px;
  }
  .plans__card .plans__card__title .plans__card__title__text {
    white-space: nowrap;
  }
}
@media only screen and (min-width: 1024px) {
  .plans__card {
    padding: 20px;
  }
  .plans__card .plans__card__title .plans__card__title__text {
    white-space: nowrap;
  }
}
.advantages {
  padding-top: 100px;
}
.advantages .advantages__title span {
  font-size: 24px;
  font-weight: 600;
}
.advantages .advantages__title .advantages__title__text {
  padding-top: 14px;
  font-size: 34px;
  font-weight: 900;
}

.advantages__title__cards {
  margin-top: 76px;
}

.advantages__cards {
  margin-top: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.advantages__card {
  border-top: 8px solid #2F97C1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 15px 15px 0px rgba(0, 0, 0, 0.1);
  gap: 12px;
}
.advantages__card .advantages__card__title {
  font-size: 20px;
  font-weight: 900;
}
.advantages__card .advantages__card__text {
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.form-group {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input-group {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 415px;
}
.input-group input {
  padding: 8px 14px;
  border: 0;
  outline: 0;
}
.input-group .label-group {
  position: absolute;
  top: -12px;
  left: 15px;
  background-color: white;
  padding: 0 10px;
}

.signin__content {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 92px;
}

.signin__content__left {
  padding-top: 50px;
}
.signin__content__left .signin__content__left__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;
  gap: 12px;
}
.signin__content__left .signin__content__left__title h1 {
  font-size: 22px;
  font-weight: 900;
  line-height: 32px;
}

.signin__content__left__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.signin__content__left__content .signin__content__left__content__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-wrap: nowrap;
}
.signin__content__left__content .signin__content__left__content__title h1 {
  font-size: 42px;
  font-weight: 900;
}
.signin__content__left__content .signin__content__left__content__title p {
  color: #ccc;
  font-size: 16px;
  font-weight: 900;
}

.form-group__forget__seaved {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group__forget__seaved .form-group__seaved span {
  font-size: 12px;
  font-weight: 700;
}
.form-group__forget__seaved .form-group__forget a {
  text-decoration: solid !important;
  font-size: 12px;
  font-weight: 700;
}

.btn__sign {
  margin-top: 28px;
  padding: 20px 20px;
  width: 100%;
  color: white;
}

.line {
  margin-top: 22px;
  border: 1px solid #ccc;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line span {
  padding: 0 4px;
  background-color: #fff;
  color: #ccc;
}

.box__link {
  margin-top: 20px;
  padding: 8px 32px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 94px;
}
.box__link span {
  color: #ccc;
  font-size: 14px;
  font-weight: 700;
}

.signin__content__rigth {
  overflow: hidden;
}

.root {
  display: flex;
  height: 100vh;
}

.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__header {
  display: flex;
  justify-content: space-between;
}

.content__header__title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.content__header__title h1 {
  font-size: 42px;
  font-weight: 900;
  line-height: normal;
}
.content__header__title span {
  font-size: 18px;
  font-weight: 700;
  color: #8A8A8A;
}

.content__header__icons {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.content__header__icons .content__header__icons__date {
  font-size: 14px;
  font-weight: 500;
}

.content__wallets {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
}
.content__wallets .content__wallets__title span {
  font-size: 18px;
  font-weight: 700;
}

.content__wallets__cards {
  padding-top: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.wallets__card {
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 22px;
  border-radius: 10px;
}
.wallets__card .wallets__card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: flex-start;
}
.wallets__card .wallets__card__content .wallets__card__title {
  font-size: 22px;
  font-weight: 900;
  line-height: normal;
  text-align: left;
}
.wallets__card .wallets__card__content .wallets__card__namad {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.wallets__card__add {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 18px 38px;
}

.content__chrat {
  padding-top: 40px;
}
.content__chrat .content__chart__title {
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

.content__data {
  margin-top: 60px;
  display: flex;
  gap: 60px;
}
.content__data .content__data__body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 0;
  padding-right: 60px;
  border-right: 1px solid #aaa;
  text-align: left;
}
.content__data .content__data__body h1 {
  font-size: 18px;
  font-weight: 700;
}
.content__data .content__data__body span {
  font-size: 16px;
  font-weight: 400;
}

.content__tabel__header {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}
.content__tabel__header .content__tabel__header {
  display: flex;
  justify-content: space-between;
}
.content__tabel__header .content__tabel__header__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.content__tabel__header .content__tabel__header__left p {
  font-size: 16px;
  font-weight: 600;
}
.content__tabel__header .content__tabel__header__left span svg {
  vertical-align: top;
}

.content__tabel__header__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.content__tabel__header__right p {
  font-size: 16px;
  font-weight: 600;
}

.content__tabel__today {
  margin-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content__tabel__today .content__tabel__today__header h1 {
  font-size: 24px;
  font-weight: 700;
}

.tabel__today {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.tabel__today__column {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #aaa;
}

.tabel__today__column__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
}

.tabel__today__column__right {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 40px;
}

.sidebar {
  width: 300px;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 173px;
  background: linear-gradient(180deg, rgba(210, 84, 135, 0.12) 0%, rgba(210, 84, 135, 0.1) 57.44%, rgba(252, 252, 255, 0.57) 100%);
}

.sidebar__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar__title span {
  text-wrap: nowrap;
  font-size: 20px;
  font-weight: 900;
  line-height: 18px;
}

.sidebar__content__links {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.sidebar__content__links .links__item .link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.sidebar__content__links .links__item .link svg {
  vertical-align: bottom;
}

.sidebar__user {
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
}
.sidebar__user .sidebar__user__img {
  border-radius: 50%;
}
.sidebar__user span {
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.form_settings {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form_settings .form_setting_header h1 {
  font-size: 18px;
  font-weight: 600;
}
.form_settings .forms {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btns__submit {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.btn__submit__save {
  background-color: #D25487;
  color: white;
  padding: 14px 30px;
}

.btn__submit {
  padding: 14px 30px;
  border: 1px solid #8A8A8A;
  color: #8A8A8A;
}

.setting__profile__img {
  padding: 30px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.setting__profile__img img {
  width: 60px;
}
.setting__profile__img .setting__profile__img__title h1 {
  font-size: 18px;
  font-weight: 600;
}

.setting__profile__user__crad {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.setting__profile__user__crad h1 {
  font-weight: 600;
}
.setting__profile__user__crad .card__user__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.setting__profile__user__crad .btns__card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.setting__profile__user__crad .card__user__btn__del {
  padding: 8px;
  color: #D25487;
  transition: all 0.3s ease;
}
.setting__profile__user__crad .card__user__btn__del:hover {
  background-color: #D25487;
  color: white;
}

.card__user__btn__upd {
  padding: 8px;
  color: #AAA;
}
.card__user__btn__upd:hover {
  background-color: #AAA;
  color: #D25487;
}

.upload__box {
  margin-top: 20px;
  padding: 30px;
  border: 1.5px dashed #aaa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting__profile__google {
  margin-top: 30px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.setting__profile__google .setting__profile__google__top img {
  width: 133px;
}

.setting__profile__google__top {
  display: flex;
  justify-content: space-between;
}

.setting__profile__google__top__btn {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #D25487;
  color: white;
}

.setting__profile__google__bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
}
.setting__profile__google__bottom h1 {
  font-size: 18px;
  font-weight: 700;
}
.setting__profile__google__bottom span {
  color: #8A8A8A;
}

.headers__tickets {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.headers__tickets .headers__tickets__h1 h1 {
  font-size: 18px;
  font-weight: 700;
}

.headers__tickets__crads {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket__card {
  margin-top: 20px;
  padding-top: 8px;
  padding-inline: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.ticket__card .ticket__card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ticket__card .ticket__card__content h1 {
  font-size: 16px;
  font-weight: 700;
}

.main-container {
  padding: 8px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
.main-container .group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.main-container .group .text {
  font-size: 18px;
  font-weight: 700;
}

.tabel__section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container__tabel {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 42px;
  width: 100%;
}

.group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 18px;
  flex-wrap: nowrap;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 20px;
  border-bottom: 1px solid #aaa;
}

.group__tabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: nowrap;
}

.section {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  flex-wrap: nowrap;
  white-space: nowrap;
}
.section .text {
  font-size: 16px;
  font-weight: 700;
}

.section__row {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  color: #8A8A8A;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 100px;
  z-index: 12;
}

.text-2 {
  font-size: 16px;
  font-weight: 700;
}

.group__2 {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-left: 260px;
}

.box__ticket {
  margin-top: 75px;
}

.box__header h1 {
  font-size: 16px;
  font-weight: 800;
}

.text-areya {
  padding: 23px 21px 164px 28px;
}

.btns {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-gray {
  border: 1px solid #8A8A8A;
  padding: 14px 14px !important;
  color: #8A8A8A;
}

.btn-red-seved {
  width: 100%;
  background-color: #D25487;
  padding: 14px 14px !important;
  color: white;
}

/*# sourceMappingURL=app.css.map */
