@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,800&family=Inter&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
main {
  padding-top: 20px;
  transition: all 0.3s ease;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: "poppines", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar .nav-item {
  padding: 6px 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.navbar .nav-item:hover {
  background: linear-gradient(90deg, #525FE1 -3.7%, #2E3899 102.51%);
}
.navbar .nav-item:hover .nav-link {
  color: white;
}

.responsive__menue {
  display: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.user__acount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 836px) {
  .responsive__menue {
    display: block;
  }
  .navbar {
    display: none;
  }
  .login {
    display: none;
  }
}
.banner {
  margin-top: 60px;
}
.banner .banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 152px;
}
.banner .banner__content__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.banner .banner__content__left .banner__content__left__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banner .banner__content__left .text-header {
  font-size: 52px;
  line-height: 62px;
}
.banner .banner__content__right {
  position: relative;
}
.banner .banner__content__right .banner__content__right__img {
  position: absolute;
  top: 34px;
  right: 36px;
}
.banner .banner__content__right .banner__content__right__img .circle {
  position: absolute;
  top: 574px;
  left: 392px;
  right: 150px;
}

.banner__content__left__button {
  display: flex;
  align-items: center;
  gap: 30px;
}
.banner__content__left__button .video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.banner__content__left__button .video p {
  font-size: 14px;
  font-weight: 600;
}
.banner__content__left__button .video .icon svg {
  vertical-align: middle;
}

.banner__content__end {
  position: absolute;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -73px;
  margin-right: 0;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1440px;
}
.banner__content__end svg {
  z-index: -1;
  width: 100%;
}

.content {
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.txt p {
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.txt span {
  color: white;
}

@media only screen and (max-width: 1280px) {
  .banner .banner__content__right span svg {
    width: 500px;
  }
  .banner .banner__content__right .banner__content__right__img img {
    width: 380px;
  }
}
@media only screen and (max-width: 1024px) {
  .banner .banner__content__left__header {
    padding-top: 50px;
  }
  .banner .banner__content__left__header .text-header {
    font-size: 40px;
    line-height: 35px;
  }
  .banner .banner__content__left__header .tx-gray {
    font-size: 14px;
  }
  .banner .banner__content__right span svg {
    width: 400px;
  }
  .banner .banner__content__right .banner__content__right__img img {
    width: 350px;
  }
}
@media only screen and (max-width: 836px) {
  .banner {
    margin-top: 200px;
  }
  .banner .banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .banner .banner__content__right {
    display: none;
    position: relative;
  }
  .banner .banner__content__right .banner__content__right__img {
    top: 113px;
    right: 14px;
  }
  .banner .circle {
    display: none;
  }
  .banner .banner__content__end {
    display: block;
    margin-bottom: 20px;
  }
  .banner .content {
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
  }
}
.about .about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about .about__header h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}
.about .about__header p {
  font-size: 16px;
  font-weight: 500;
  width: 1100px;
  text-align: center;
  color: #333;
}

.about__crads {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about__crads .about__card__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0);
}

.about__header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.about__header__text h1 {
  font-size: 20px;
  font-weight: 600;
}
.about__header__text p {
  width: 324px;
  font-size: 16px;
  font-weight: 500;
  color: #4D4D4D;
  text-align: center;
}

@media only screen and (max-width: 836px) {
  .about .about__header {
    margin-top: 100px;
  }
}
.courses {
  margin-top: 80px;
}

.courses__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.courses__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.courses__card {
  height: 250px;
}
.courses__card .card__item {
  background-color: white;
  box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding-bottom: 30px;
}
.courses__card .courses__card {
  position: absolute;
}
.courses__card .card__item__body {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.courses__card .btn-card {
  margin-top: 100px;
  padding: 10px 72px !important;
  position: relative;
  top: -120px;
  left: 90px;
}

.about_company {
  margin-top: 20px;
}

.company__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.company__header h1 {
  font-size: 40px;
  font-weight: 700;
}
.company__header p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  width: 900px;
  text-align: center;
}

.company__video {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  background: url("/assets/images/video.png");
  width: 1120px;
  height: 612px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__about__list {
  z-index: -1;
  margin-top: 150px;
  background-color: #FFCF59;
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 800px;
  margin-right: auto;
  display: flex;
}
.company__about__list .about__company__circle {
  position: relative;
  left: -41px;
  top: -294px;
}
.company__about__list .about__company__circle .image {
  position: relative;
  top: -280px;
  left: 100px;
}

.company__about__list__text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-right: 170px;
}
.company__about__list__text h1 {
  font-size: 50px;
  font-weight: 700;
}
.company__about__list__text p {
  font-size: 16px;
  width: 500px;
  text-align: center;
}

.cards__company {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company__card {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 250px;
  padding: top 10px bottom 5px;
  gap: 30px;
}

.tx {
  width: max-content !important;
  font-size: 18px;
  font-weight: 700;
}

@media only screen and (max-width: 1300px) {
  .about_company .company__video {
    width: 1000px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1024px) {
  .about_company .company__video {
    width: 980px;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 836px) {
  .about_company .company__video {
    width: 500px;
    /* padding: 200px; */
    height: 500px;
    border-radius: 10px;
  }
  .company__about__list .company__about__list__tex {
    display: block;
  }
  .company__about__list .about__company__circle {
    position: relative;
    left: -41px;
    top: -249px;
  }
  .company__about__list .about__company__circle .image {
    position: relative;
    top: -323px;
    left: 0;
  }
}
@media only screen and (max-width: 900px) {
  .about__company__circle {
    display: none;
    position: relative;
    left: -41px;
    top: -249px;
  }
  .about__company__circle .image {
    position: relative;
    top: -323px;
    left: 0;
  }
  .company__about__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .company__about__list .company__about__list__text h1 {
    font-size: 35px;
  }
  .company__about__list .company__about__list__text p {
    width: 450px;
  }
}
@media only screen and (max-width: 700px) {
  .about__company__circle {
    display: none;
    position: relative;
    left: -41px;
    top: -249px;
  }
  .about__company__circle .image {
    position: relative;
    top: -323px;
    left: 0;
  }
  .company__about__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .company__about__list .company__about__list__text h1 {
    font-size: 35px;
  }
  .company__about__list .company__about__list__text p {
    width: 450px;
  }
  .company__about__list .company__about__list__text .cards__company {
    padding-right: 20px;
  }
  .company__about__list .company__about__list__text .cards__company .company__card {
    padding-right: 200px;
  }
}
.program {
  margin-top: 1000px;
}
.program .program__hrader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.program .program__hrader h1 {
  font-size: 45px;
  font-weight: 700;
}
.program .program__hrader p {
  width: 900px;
  font-size: 16px;
  text-align: center;
}

.program__crad {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.student__say {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.student__say .student__say__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.student__say .student__say__header h1 {
  font-size: 45px;
  font-weight: 700;
}
.student__say .student__say__header p {
  width: 1000px;
  text-align: center;
  margin-top: 20px;
}

.student__say__content {
  margin-top: 20px;
  display: flex;
  z-index: -1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: url("/assets/images/back.png") no-repeat;
  background-size: 100%;
  border-radius: 10px;
  max-width: max-content;
  padding: 14px 30px;
  height: 236px;
}
.student__say__content p {
  text-align: center;
  margin-left: auto;
  color: white;
  font-size: 18px;
  line-height: 32px;
}

.user__box {
  z-index: 2;
  position: relative;
  top: -57px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .student__say__header h1 {
    line-height: 60px;
  }
  .student__say__content {
    width: max-content;
  }
  .student__say__content p {
    width: 400px;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 60px;
    text-overflow: ellipsis;
  }
  .user__box {
    position: relative;
    top: -140px;
  }
}
.footer {
  background-color: #111538;
  padding: 54px 160px;
  margin-top: 40px;
  background-color: #111538;
  padding: 54px 160px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
.footer .footer__content .footer__content__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .footer__content .footer__content__logo h1 {
  font-size: 45px;
  color: white;
  font-weight: 700;
}
.footer .footer__content .footer__content__logo p {
  font-size: 16px;
  color: white;
  font-weight: 600;
  text-align: center;
  width: 318px;
}
.footer .footer__content .footer__content__link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}
.footer .footer__content .footer__content__link .link-header {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-wrap: nowrap;
}
.footer .footer__content .footer__content__link .link-footer {
  font-size: 16px;
  text-wrap: nowrap;
  font-weight: 400;
  color: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 500px) {
  footer {
    flex-wrap: wrap;
  }
  footer .footer__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
.bradcump {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background: url("/assets/images/bradcomp.svg") no-repeat center;
  border-radius: 10px;
  width: 1440px;
  padding: 10px;
}
.bradcump .brsdcump__content {
  padding: 14px 0;
}
.bradcump .brsdcump__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
}
.bradcump .brsdcump__item .item-link {
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.bradcump .brsdcump__item .item-link.active {
  color: white;
  font-size: 18px;
  font-weight: 700;
}

.filter {
  margin-top: 20px;
}

.filter__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.active-btn {
  border: 1px solid #000 !important;
  color: #525FE1;
  font-weight: 700;
  font-size: 16px;
}

.products {
  margin-top: 20px;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.contentProduct {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.contentProduct .content__image {
  width: 1250px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 617px;
}
.contentProduct .content__image img {
  width: 100%;
}

.content__product__header {
  margin-top: 30px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__product__header h1 {
  font-size: 32px;
  font-weight: 700;
}
.content__product__header .buttons__product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.content__product__button__header {
  margin-top: 30px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__product__button__header .product__button__headder__one {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.content__product__button__header .product__button__headder__one h1 {
  font-size: 20px;
  font-weight: 500;
  text-wrap: nowrap;
}
.content__product__button__header .product__button__headder__one p {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  gap: 6px;
  text-wrap: nowrap;
}
.content__product__button__header .product__button__headder__one p svg {
  vertical-align: middle;
}
.content__product__button__header .product__button__headder__two {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.content__product__button__header .product__button__headder__two h1 {
  font-size: 18px;
  font-weight: 700;
  text-wrap: nowrap;
}

.content__product__navbar {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  background: url("/assets/images/bg-2.png") no-repeat center;
  padding: 25px 60px;
  border-radius: 10px;
}
.content__product__navbar h1 {
  font-size: 18px;
  font-weight: 400;
}
.content__product__navbar p {
  font-size: 18px;
  font-weight: 700;
}

.content__product__text {
  margin-top: 20px;
}

.content__product__meeting {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
  padding: 0px 30px;
}
.content__product__meeting .content__Product__meeting__item {
  background: linear-gradient(90deg, #525FE1 -3.7%, #525FE1 102.51%);
  border-radius: 10px;
  padding: 29px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__product__meeting .content__Product__meeting__item h1 {
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-wrap: nowrap;
}
.content__product__meeting .content__Product__meeting__item__open {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 38px;
  background: linear-gradient(90deg, #525FE1 -3.7%, #525FE1 102.51%);
  padding: 29px 33px;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__header h1 {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list {
  background: linear-gradient(90deg, #DFE2FF -3.7%, #DFE2FF 102.51%);
  padding: 29px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 0.5px solid #525FE1;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item .list-item-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item .list-item-left span svg {
  vertical-align: text-bottom;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item .list-item-left h1 {
  font-size: 16px;
  font-weight: 700;
  color: #525FE1;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item .list-item-reight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item .list-item-reight h1 {
  font-size: 16px;
  font-weight: 700;
  color: #525FE1;
}
.content__product__meeting .content__Product__meeting__item__open .meeting__list .meeting__list__item .list-item-reight span svg {
  vertical-align: text-bottom;
}

@media only screen and (max-width: 1380px) {
  .contentProduct .content__image {
    width: 1150px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 1250px) {
  .contentProduct .content__image {
    width: 1125px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 1280px) {
  .contentProduct .content__image {
    width: 1100px;
    height: 750px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 1180px) {
  .contentProduct .content__image {
    width: 1000px;
    height: 650px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 1080px) {
  .contentProduct .content__image {
    width: 900px;
    height: 500px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 768px) {
  .contentProduct .content__image {
    width: 700px;
    height: 400px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 768px) {
  .contentProduct .content__image {
    width: 700px;
    height: 400px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 640px) {
  .contentProduct .content__image {
    width: 600px;
    height: 400px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 540px) {
  .contentProduct .content__image {
    width: 500px;
    height: 300px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
}
@media only screen and (max-width: 500px) {
  .contentProduct .content__image {
    width: 450px;
    height: 250px;
  }
  .contentProduct .content__Product__meeting__item h1 {
    text-wrap: nowrap;
  }
  .contentProduct .product__button__headder__one {
    display: flex;
    justify-content: center;
    gap: 3px;
  }
  .contentProduct .content__Product__meeting__item__open .meeting__list {
    padding: 16px 10px;
  }
}
.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter .filter__box {
  padding: 20px 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.filter .filter__box .filter__box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 182px;
  padding-bottom: 26px;
  border-bottom: 1px solid #ccc;
}
.filter .filter__box .filter__box__header__rigth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-size: 18px;
  font-weight: 600;
}

.filter__box__content {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.filter__box__content__item__op .filter__box__content__item__op-header {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  gap: 250px;
}
.filter__box__content__item__op .filter__box__content__item__op-header h1 {
  font-size: 16px;
  font-weight: 800;
}

.filter__box__content__item__sublist {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 24px;
}

.filter__box__content__sublist__item {
  display: flex;
  justify-content: space-between;
  gap: 191px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.filter__box__content__sublist__item h1 {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  text-wrap: nowrap;
  gap: 8px;
}
.filter__box__content__sublist__item .filter-icon svg {
  vertical-align: middle;
}

.filter__box__content__sublist__item__two {
  display: flex;
  justify-content: space-between;
  gap: 156px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}
.filter__box__content__sublist__item__two h1 {
  font-size: 16px;
  font-weight: 600;
  color: #4D4D4D;
  display: flex;
  text-wrap: nowrap;
  gap: 8px;
}
.filter__box__content__sublist__item__two .filter-icon svg {
  vertical-align: middle;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 92px;
}

.login__content__forms {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.login__content__forms .login__content__forms__lgo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.login__content__forms .login__content__forms__lgo img {
  vertical-align: middle;
}
.login__content__forms .login__content__forms__lgo h1 {
  font-size: 22px;
  font-weight: 700;
}

.login__content__forms__head {
  margin-top: 138px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.login__content__forms__head h1 {
  font-size: 42px;
  font-weight: 800;
}
.login__content__forms__head p {
  font-size: 16px;
  font-weight: 700;
}

.forgut-and-save {
  gap: 230px;
  display: flex;
}
.forgut-and-save .save {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}
.forgut-and-save .save span {
  font-size: 12px;
  color: #aaa;
  font-weight: 700;
}
.forgut-and-save .forgut a {
  text-decoration: #2E3899 !important;
  font-size: 12px;
  font-weight: 600;
}

.btn__login {
  width: 100%;
  background: linear-gradient(90deg, #525FE1 -3.7%, #2E3899 102.51%);
  padding: 14px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.line {
  margin-top: 22px;
  border: 1px solid #ccc;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line span {
  padding: 10px;
  background-color: white;
  font-size: 14px;
  font-weight: 900;
  color: #aaaaaa;
}

.box__link {
  argin-top: 20px;
  padding: 14px 48px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 94px;
}

@media only screen and (max-width: 1536px) {
  .login__img {
    width: 680px;
    height: 900px;
  }
}
@media only screen and (max-width: 1280px) {
  .login__img {
    width: 550px;
    height: 700px;
  }
}
@media only screen and (max-width: 1024px) {
  .ogin-content {
    display: flex;
    align-items: center;
  }
  .login__img {
    width: 450px;
    height: 550px;
  }
}
@media only screen and (max-width: 768px) {
  .ogin-content {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  .login__img {
    display: none;
    width: 350px;
    height: 550px;
  }
}
@media only screen and (max-width: 500px) {
  .ogin-content {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  .login__img {
    display: none;
    width: 350px;
    height: 550px;
  }
}
.form-group {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.input-group {
  position: relative;
  border: 1.5px solid #ccc;
  padding: 15px 28px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 233px;
}
.input-group .input-group-form {
  width: 189px;
  border: 0;
  outline: 0;
}
.input-group .input-group-form::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: #ccc;
}
.input-group .label-group {
  position: absolute;
  top: -12px;
  left: 15px;
  background-color: white;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .input-group {
    display: flex;
    justify-content: center;
    width: 450px;
    margin-left: 20px;
  }
  .login__content__forms__head {
    margin-left: 20px;
  }
}
.dashboard__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  margin-right: 108px;
  margin-left: 108px;
  margin-top: 54px;
  margin-bottom: 54px;
}

.sidebar {
  padding: 45px 52px;
  background: linear-gradient(90deg, #525FE1 54.09%, #525FE1 160.3%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: fl;
}
.sidebar .avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
.sidebar .avatar h1 {
  color: #fff;
}

.sidebar__link {
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.sidebar__link .nav-link {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  font-size: 16px !important;
  font-weight: 600 !important;
}
.sidebar__link .nav-link span svg {
  vertical-align: top;
}

.ticket__tabel__header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid #858585;
}
.ticket__tabel__header .tickets {
  color: #858585;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 77.778% */
}
.ticket__tabel__header .view-all {
  color: #525FE1;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
}

.tabel__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-bottom: 18px;
  border-bottom: 1px solid #858585;
}
.row .rowsection-1 {
  display: flex;
  justify-content: center;
  gap: 135px;
}
.row .rowsection-1 span {
  font-size: 16px;
  font-weight: 700;
  color: #858585;
}
.row .rowsection-1 .rowsection-2 {
  display: flex;
  justify-content: center;
  gap: 92px;
}

.ticket__content {
  background: linear-gradient(90deg, #DFE2FF -3.7%, #DFE2FF 102.51%);
  padding: 32px;
  border-radius: 10px;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.tx-sm {
  font-size: 16px;
}

.tx-18 {
  font-size: 18px;
}

.tx-bold {
  font-weight: 700;
}

.tx-18 {
  font-size: 18px;
}

.tx-blue {
  color: #525FE1;
}

.tx-red {
  color: #FD2347 !important;
}

.tx-gray {
  color: #8A8A8A;
  line-height: 20px;
}

.d-none {
  display: none;
}

.fw-700 {
  font-weight: 900;
}

.btn {
  padding: 13px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
}

.btn-primary {
  background: linear-gradient(90deg, #525FE1 -3.7%, #2E3899 102.51%);
  color: #fff;
}

.bg-none {
  background: none !important;
}

.btn-warning {
  color: black;
  background-color: #FFCF59;
  font-size: 14px;
  font-weight: 700;
}

.btn-outline {
  border: 1px solid #ccc;
}

.filter-btn {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link {
  color: #808080;
  font-size: 16px;
  font-weight: 600;
}

.z-0 {
  z-index: 1;
}

.z-1 {
  z-index: 2;
}

.mt-1 {
  margin-top: -50px;
}

.svg-header {
  position: absolute;
  z-index: -1;
}

/*# sourceMappingURL=app.css.map */
