.box__ticket {
    margin-top: 75px;
}

.box__header {
    h1 {
        font-size: 16px;
        font-weight: 800;
    }
}

.text-areya {
    padding: 23px 21px 164px 28px;
}

.btns {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 20px;
}
.btn-gray {
    border: 1px solid #8A8A8A;
    padding: 14px 14px !important;
    color: #8A8A8A;
}

.btn-red-seved {
    width: 100%;
    background-color: #D25487;
    padding: 14px 14px !important;
    // border-radius: 10px !important;
    color: white;

}