.headers__tickets {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    .headers__tickets__h1 {
        h1 {
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.headers__tickets__crads {
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    

}
.ticket__card {
    margin-top: 20px;
    padding-top:8px;
    padding-inline: 20px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .ticket__card__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        h1{
            font-size: 16px;
            font-weight:700;
        }
    }
}

// cards


.main-container {
    // background-color: #74D38C;
    padding: 8px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 10px 0px 40px 0px rgba(0, 0, 0, 0.10);
    
    .group {
        display: flex;
        flex-direction: column;
        gap: 7px;
        .text {
            font-size: 18px;
            font-weight: 700;
        }

    }
}

