//dashborad style ============== //

.dashboard__content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
  margin-right: 108px;
  margin-left: 108px;
  margin-top: 54px;
  margin-bottom: 54px;
}