.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.setting__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
}
.form_settings {
  //margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .form_setting_header {
    h1 {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .forms {
    //margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.btns__submit {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
.btn__submit__save {
  background-color: #d25487;
  color: white;
  padding: 14px 30px;
}
.btn__submit {
  border: 1px solid #8a8a8a;
  color: #8a8a8a;
  padding: 14px 60px;
  border-radius: 10px;
}

.btn__submit-xl {
  border: 1px solid #8a8a8a;
  //color:#8A8A8A;
  padding: 14px 100px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  color: white;

  background: linear-gradient(90deg, #525fe1 -3.7%, #2e3899 102.51%);
}
.setting__profile__img {
  padding: 14px 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  img {
    width: 60px;
  }
  .setting__profile__img__title {
    h1 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

.setting__profile__user__crad {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  h1 {
    font-weight: 600;
  }
  .card__user__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .btns__card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .card__user__btn__del {
    // border: 1px solid #ccc;
    padding: 8px;
    color: #d25487;
    transition: all 0.3s ease;
    &:hover {
      background-color: #d25487;
      color: white;
    }
  }
}

.card__user__btn__upd {
  padding: 8px;
  color: #aaa;
  &:hover {
    background-color: #aaa;
    color: #d25487;
  }
}

.upload__box {
  margin-top: 20px;
  padding: 20px 51px;
  border: 1.5px dashed #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setting__profile__google {
  margin-top: 18px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 10px;
  .setting__profile__google__top {
    img {
      width: 133px;
    }
  }
}
.setting__profile__google__top {
  display: flex;
  justify-content: space-between;
}

.setting__profile__google__top__btn {
  padding: 13px 41px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(82, 95, 225, 0.5) -3.7%,
    rgba(46, 56, 153, 0.5) 102.51%
  );
  color: white;
}

.setting__profile__google__bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  h1 {
    font-size: 18px;
    font-weight: 700;
  }
  span {
    color: #8a8a8a;
  }
}

//  ========================== responsive  ======================== //
@media only screen and (max-width: 1280px) {
  .setting__content {
    // flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 12px;
  }

  .upload__box {
    padding: 14px 21px;
    text-wrap: nowrap;
  }
    .setting__profile__img {
      width: 360px;
    }

  .setting__profile__google {
    padding:20px;
    width: 360px;
  }
  .btns__submit {
    gap: 25px;
  }
  .btn__submit-xl {
    padding: 14px 70px;
  }

  .btn__submit {
    padding: 14px 45px;
  }
}


@media only screen and (max-width: 1024px) {
  .setting__content {
    // flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 12px;
  }

  .upload__box {
    padding: 14px 21px;
    text-wrap: wrap;
    text-align: center;
  }
    .setting__profile__img {
      padding: 14px;
      width: 280px;
    }

  .setting__profile__google {
    padding:14px;
    width: 280px;
  }
  .btns__submit {
    gap: 14px;
  }
  .btn__submit-xl {
    padding: 14px 40px;
  }

  .btn__submit {
    padding: 14px 25px;
  }

}


@media only screen and (max-width: 835px) {
  .setting__content {
    margin-top: 20px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 12px;
  }

  .upload__box {
    padding: 14px 21px;
    text-wrap: wrap;
    text-align: center;
  }
    .setting__profile__img {
      padding: 14px 60px;
      width: 400px;
    }

  .setting__profile__google {
    padding:14px 60px;
    width:400px;
  }
  .btns__submit {
    gap: 14px;
  }
  .btn__submit-xl {
    padding: 14px 100px;
  }

  .btn__submit {
    padding: 14px 60px;
  }

}


@media only screen and (max-width: 500px) {
  .setting__content {
    margin-top: 20px;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 12px;
  }

  .upload__box {
    padding: 14px 21px;
    text-wrap: wrap;
    text-align: center;
  }
    .setting__profile__img {
      padding: 14px 60px;
      width: 360px;
      margin-right: 50px;
    }

  .setting__profile__google {
    padding:14px 60px;
    width:360px;
    margin-right: 50px;
  }
  .btns__submit {
    gap: 14px;
    margin-right: 50px;
  }
  .btn__submit-xl {
    padding: 14px 70px;
  }

  .btn__submit {
    padding: 14px 40px;
  }

}




