@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&family=DM+Sans:ital,opsz,wght@0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,400;1,9..40,800&family=Inter&family=Open+Sans:wght@400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
main {
  padding-top: 20px;
  transition: all 0.3s ease;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 100%;
}

body {
  font-family: "poppines", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.navbar .nav-item {
  padding: 6px 10px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.navbar .nav-item:hover {
  background: linear-gradient(90deg, #525FE1 -3.7%, #2E3899 102.51%);
}
.navbar .nav-item:hover .nav-link {
  color: white;
}

.responsive__menue {
  display: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 836px) {
  .responsive__menue {
    display: block;
  }
  .navbar {
    display: none;
  }
  .login {
    display: none;
  }
}
.banner {
  margin-top: 60px;
}
.banner .banner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 152px;
}
.banner .banner__content__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.banner .banner__content__left .banner__content__left__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.banner .banner__content__left .text-header {
  font-size: 52px;
  line-height: 62px;
}
.banner .banner__content__right {
  position: relative;
}
.banner .banner__content__right .banner__content__right__img {
  position: absolute;
  top: 34px;
  right: 36px;
}
.banner .banner__content__right .banner__content__right__img .circle {
  position: absolute;
  top: 574px;
  left: 392px;
  right: 150px;
}

.banner__content__left__button {
  display: flex;
  align-items: center;
  gap: 30px;
}
.banner__content__left__button .video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.banner__content__left__button .video p {
  font-size: 14px;
  font-weight: 600;
}
.banner__content__left__button .video .icon svg {
  vertical-align: middle;
}

.banner__content__end {
  position: absolute;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -73px;
  margin-right: 0;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1440px;
}
.banner__content__end svg {
  z-index: -1;
  width: 100%;
}

.content {
  position: relative;
  top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.txt p {
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.txt span {
  color: white;
}

@media only screen and (max-width: 1280px) {
  .banner .banner__content__right span svg {
    width: 500px;
  }
  .banner .banner__content__right .banner__content__right__img img {
    width: 380px;
  }
}
@media only screen and (max-width: 1024px) {
  .banner .banner__content__left__header {
    padding-top: 50px;
  }
  .banner .banner__content__left__header .text-header {
    font-size: 40px;
    line-height: 35px;
  }
  .banner .banner__content__left__header .tx-gray {
    font-size: 14px;
  }
  .banner .banner__content__right span svg {
    width: 400px;
  }
  .banner .banner__content__right .banner__content__right__img img {
    width: 350px;
  }
}
@media only screen and (max-width: 836px) {
  .banner {
    margin-top: 200px;
  }
  .banner .banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .banner .banner__content__right {
    display: none;
    position: relative;
  }
  .banner .banner__content__right .banner__content__right__img {
    top: 113px;
    right: 14px;
  }
}
.about .about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about .about__header h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}
.about .about__header p {
  font-size: 16px;
  font-weight: 500;
  width: 1100px;
  text-align: center;
  color: #333;
}

.about__crads {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about__crads .about__card__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0);
}

.about__header__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.about__header__text h1 {
  font-size: 20px;
  font-weight: 600;
}
.about__header__text p {
  width: 324px;
  font-size: 16px;
  font-weight: 500;
  color: #4D4D4D;
  text-align: center;
}

.courses {
  margin-top: 80px;
}

.courses__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.courses__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.courses__card .card__item {
  background-color: white;
  box-shadow: 0px 13px 28px 0px rgba(0, 0, 0, 0.06), 0px 51px 51px 0px rgba(0, 0, 0, 0.05), 0px 116px 69px 0px rgba(0, 0, 0, 0.03), 0px 206px 82px 0px rgba(0, 0, 0, 0.01), 0px 322px 90px 0px rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding-bottom: 30px;
}
.courses__card .courses__card {
  position: absolute;
}
.courses__card .card__item__body {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}
.courses__card .btn-card {
  margin-top: 100px;
  padding: 10px 72px !important;
  position: relative;
  top: -120px;
  left: 90px;
}

.about_company {
  margin-top: 20px;
}

.company__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.company__header h1 {
  font-size: 40px;
  font-weight: 700;
}
.company__header p {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  width: 900px;
  text-align: center;
}

.company__video {
  position: relative;
  z-index: 1;
  margin-top: 30px;
  background: url("/assets/images/video.png");
  width: 1120px;
  height: 612px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.company__about__list {
  z-index: -1;
  margin-top: 150px;
  background-color: #FFCF59;
  position: absolute;
  padding: 40px;
  width: 100%;
  height: 800px;
  margin-right: auto;
  display: flex;
}
.company__about__list .about__company__circle {
  position: relative;
  left: -41px;
  top: -294px;
}
.company__about__list .about__company__circle .image {
  position: relative;
  top: 264px;
  left: -500px;
}

.company__about__list__text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.company__about__list__text h1 {
  font-size: 50px;
  font-weight: 700;
}
.company__about__list__text p {
  font-size: 16px;
  width: 500px;
  text-align: center;
}

.cards__company {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company__card {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 250px;
  padding: top 10px bottom 5px;
  gap: 30px;
}

.tx {
  width: max-content !important;
  font-size: 18px;
  font-weight: 700;
}

.program {
  margin-top: 1000px;
}
.program .program__hrader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.program .program__hrader h1 {
  font-size: 45px;
  font-weight: 700;
}
.program .program__hrader p {
  width: 900px;
  font-size: 16px;
  text-align: center;
}

.program__crad {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.student__say .student__say__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.student__say .student__say__header h1 {
  font-size: 45px;
  font-weight: 700;
}
.student__say .student__say__header p {
  width: 1000px;
  text-align: center;
  margin-top: 20px;
}

.student__say__content {
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: url("/assets/images/back.png") no-repeat center;
  padding: 14px 30px;
  overflow: hidden;
}
.student__say__content p {
  width: 350px;
  font-size: 150px;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.tx-sm {
  font-size: 16px;
}

.tx-bold {
  font-weight: 700;
}

.tx-18 {
  font-size: 18px;
}

.tx-blue {
  color: #525FE1;
}

.tx-gray {
  color: #8A8A8A;
  line-height: 20px;
}

.fw-700 {
  font-weight: 900;
}

.btn {
  padding: 13px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
}

.btn-primary {
  background: linear-gradient(90deg, #525FE1 -3.7%, #2E3899 102.51%);
  color: #fff;
}

.btn-warning {
  color: black;
  background-color: #FFCF59;
  font-size: 14px;
  font-weight: 700;
}

.btn-outline {
  border: 1px solid #ccc;
}

.nav-link {
  color: #808080;
  font-size: 16px;
  font-weight: 600;
}

.z-0 {
  z-index: 1;
}

.z-1 {
  z-index: 2;
}

.mt-1 {
  margin-top: -50px;
}

.svg-header {
  position: absolute;
  z-index: -1;
}

/*# sourceMappingURL=app.css.map */
